/* CSS declarations go here */
.selected
{
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.js-add-image > input
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.login
{

  height: 60px;
}
