/* CSS declarations go here */
.selected
{
  border-color: black;
}

.js-add-image > input
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.btn-success
{
  margin-left: 10px;
}

.login
{
  margin-right: 10px;
  height: 50px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 18px;
  width:100%;
}
